<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TicTacToe</title>
        <link rel="stylesheet" href="../static/css/index.css">
        <style>
            h1{
                text-align: center;
            }
            body{
                font-size: 30px;
            }
            button{
                height: 100px;
                width: 400px;
                font-size: 30px;
                background-color: aquamarine;
            }
            button:hover{
                background-color: greenyellow;
                transform: scale(1.2);
            }
        </style>
    </head>
    <body>
        <center>
        <img src="static/tictactoe.png">
        <br><br>
        <form method = 'post' action = '/mode'>
            <p>Enter Game Mode:</p>
            <input type="radio" id = "mode1" name="mode" value="0">
            <label for="mode1">VS Friend</label>
            <input type="radio" id="mode2" name="mode" value="1">
            <label for="mode2">VS Computer</label><br><br>
            <button class="game_button" type="submit">Continue</button>
        </form>
        </center>
    </body>

</html>